{% extends "base.html" %}

{% block content %}
<div id="progress-bar">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><div id="progress-text">Чтение сообщений</div></div>
</div>
  
<h1>Письма</h1>
  <table class="table">
    <thead>
        <tr>
            <th scope="col">Тема</th>
            <th scope="col">Текст</th>
            <th scope="col">Дата отправки</th>
            <th scope="col">Дата получения</th>
            <th scope="col">Вложения</th>
        </tr>
    </thead>

    <tbody id="messages"></tbody>

    <script>
      const socket = new WebSocket('ws://localhost:8000/ws/letters/'); 
      socket.onopen = function(event) {      
          console.log('WebSocket connection opened');      
      };      
      socket.onmessage = function(event) {      
          const data = JSON.parse(event.data);   
          const { quantity, index, subject, body, sent_date, received_date, attachments } = data;  
          updateProgressBar(quantity, index);
          const attachmentsStr = attachments.join(', ');

            const html = `
            <tr>
                <td>${subject}</td>
                <td>${body.substring(0, 100)}</td>
                <td>${sent_date}</td>
                <td>${received_date}</td>
                <td>${attachmentsStr}</td>
            </tr>
            `;
            document.getElementById('messages').insertAdjacentHTML('beforeend', html);
  };
      function updateProgressBar(quantity, index) { 
          const progressBar = document.getElementById('progress-bar');      
          const progressText = document.getElementById('progress-text');       
          progressBar.style.width = `${(index / quantity) * 100}%`;      
          progressText.textContent = `Получение сообщений. Осталось: ${quantity-index}`;      
      }
    </script>
</table>
{% endblock %}
