{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="col d-flex justify-content-center">        
            <form action={% url "login" %} method="POST">
                {% if form.non_field_errors %} 
                    <p>{{ form.non_field_errors }}</p> 
                {% endif %}
                {% csrf_token %}
                <div class="row">
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Имя пользователя:</label>
                        <input type="text" name="username" 
                        value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                        autofocus autocapitalize="none" 
                        autocomplete="username" 
                        maxlength="150" 
                        required id="id_username" 
                        class="form-control"
                        placeholder="Введите ваше имя пользователя" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Пароль:</label>
                        <input type="password" 
                        name="password" 
                        autocomplete="current-password" 
                        required id="id_password" 
                        class="form-control"
                        placeholder="Введите пароль" required>
                    </div>
                <button type="submit"
                    class="btn btn-dark btn-block">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}